.mon-parcours{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.mon-parcours .title-parcours{
    text-align: center;
    padding: 30px 0;
}
.parcours-content{
    max-width: 85%;
}