.signature-infos{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}
.web-parcours{
    margin-bottom: 20px;
}
h2 i{
    padding-right: 15px;
}
.signature-infos h2{
    color:green;
    text-transform: uppercase;
    font-size: 20px;

}
.signature-infos p:nth-child(2){
    text-transform: uppercase;
    padding: 10px 0;
}
.signature-infos ul{
    margin-top: 15px;
    list-style: none;
}
.signature-infos ul li{
    padding: 5px 10px 10px 0;
}
.signature-infos ul li::before{
    content: '●';
    padding-right: 10px;
    color: green;
}